.navbar-container{
    background-color:black;
    padding: 15px;
   text-align: center;
   display: flex;
   flex-direction: row;
   vertical-align: middle;
   color: white;
   flex-wrap: wrap;
}
*{
    margin-right:auto;
    margin-left:auto;
    margin-top: auto;

}
.anchor-text{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
   
}
.portfolio-text{
    position: relative;
    top:20px;
    margin-left: 20px;
}
.diff-color-portfolio{
    color:  #ff0066;
}
.height-Width{
    height: 300px;
  width: 300px;
   border-radius: 50%;
}
.box-shad{
    box-shadow: 0px 0px 1px 3px whitesmoke;
}
.about{
    text-align: center;
    font-weight: bold;
}
.about-text{
    font-family:'Times New Roman', Times, serif;
}
.text-skyblue{
    color:#00ffff;
    font-weight: bold;
}
.container{
    margin-top: 150px;
} 
@media screen and (min-width: 500px) and (max-width: 768px){
    .img-shweta{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }


.navbar-brand{
    margin-right: auto;
    margin-left: 20px;
}
}

.heading{
    margin-top: 200px;
}
.name{
    margin-top: 30px;
    font-size: 60px;
}
.small-change{
    font-size: 30px;
}
.margin{
    margin-left: 20px;
}
.font-size{
    font-size: 20px;
}
.tel{
    text-decoration: none;
    color:black;
}